#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff ;
    z-index: 99999;
}

.loader-img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
  /* border-top: 3px solid #0cb2ff;
  border-bottom: 3px solid #ff00c8;
  border-left: 3px solid #7bfd02;
  border-right: 3px solid #ff0000; */
  border-width: 2px;
  color: #ffffff;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: #000000d8;
}

.header {
/*     position: sticky;
    top: 0; */
    background-color: rgb(255, 0, 140);
    height: 60px;
    width: 100%;
    min-width: 600px;
    margin: auto;
    z-index: 99999;
    /* background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200811/pngtree-purple-happy-birthday-shiny-balloons-background-image_390973.jpg'); */
    /* display: flex;
    align-items: center; */
    /* justify-content: space-evenly; */
}

a {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 25px;
    top: 20px;
    right: 2px;
}

a::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

a:hover {
    color: #0400ff;
}

a:hover::after {
    position: absolute;
    left: 23px;
    width: 63%;
    height: 3px;
}

/* a:active {
    color: #f83bef;
} */

/* Image Slide Show Animation 
.slider-frame {
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: chocolate;
}

@keyframes slide_animation {
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    900% {left: 0px;}
    100% {left: 0px;}
}

.slide-images {
    width: 3600px;
    height: 300px;
    margin: 0 0 0 -2400px;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 33s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.img-container {
    width: 360px;
    height: 300px;
    position: relative;
    float: left;
}
 Image Slide Show Animation Code Ends */

.slider-frame {
    border-style: dashed;
    width: 100%;
    height: 570px;
    margin: auto;
}

.slider-frame img {
    width: 100%;
    height: 550px;
}

.wishbox {
    /* display: flex;
    flex: 1;
    flex-direction: row; */
    width: 100%;
    height: 120px;
    background-color: #f83bef;
    /* padding: 50px; */
    border-bottom: solid #000000;
    border-width: thin;
    color: #ece3e3;
}

.wishbox1 {
    background-color: #6563e2;
}

.wishbox2 {
    background-color: #12a71a;
}

.wishbox3 {
    background-color: #e747d2;
}

.wishbox4 {
    background-color: #0fccd3;
}

.wishbox5 {
    background-color: #d82f2f;
}

.w1h1 {
    padding-left: 3%;
    padding-top: 6%;
    background: none;
    position: absolute;
    width:fit-content;
    height:fit-content;
    font-size: 17px;
    /* text-align: center;
    background: rgb(255, 255, 255);
    position: absolute; */
    /* top: 50%;
    left: 1%;
    right: 1%; */
    /* color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    width:400px;
    height: 320px;
    margin-left: -30px; */
}

.wish-boxes {
    padding: 0px 0px;
}

.framepic {
    width: 100%;
    height: 300px;
}

.last-images {
    /* padding: 50px; */
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #33ff00;
    border-style: dashed;
}

.last-images img {
   /* padding: 0px 0px; */
   width: 100%;
   height: 300px;
}

/* .birthday-banner img { margin-top: 20px; } */

#slideimage {
    object-fit: cover;
}

.typing-animation h1 span {
    font-size: 20px;
    color: rgb(235, 225, 225);
    font-family: 'Poppins', sans-serif;
}

.txt-rotate {
    position: relative;
    left: 5px;
}

.footer-bar {
  width: 100%;
  height: 70px;
  background-color: rgb(201, 117, 194);
}

.h1copyfooter {
    /* margin-top: 200px; */
    color: #000000;
    font-size: 15px;
    text-align: center;
}

marquee h2 {
    display: inline-block;
}







